.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  gap: 50px;
  justify-content: space-around;
}

.repo {
  line-height: 1.7;
}

.label {
  color: var(--label-color);
}

.filterPanel {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
